
leanmapper:
	driver: fakeMysql
	entityMapping:
		user: UserEntity

		newslist:
			entity: NewsEntity
			repository: NewsRepository
			primaryKey: news_id

		articles:
			entity: App\Model\Article
			primaryKey: article_id


services:
	- NewsRepository
